--only-binary=:all:

streamlit==1.37.0

langchain==0.2.14
langchain-community==0.2.12
langchain-groq==0.1.9

chromadb==0.5.5
pypdf==5.0.1

sentence-transformers==3.0.1
huggingface_hub==0.24.6

numpy==1.26.4
protobuf==4.25.3

cffi==1.17.1

python-dotenv==1.0.1
requests==2.32.3

wheel
setuptools
